.padding{
  padding:30px;
}

.social-nav ul{
  display: flex;
  flex-direction:row;
}

.social-nav li {
  list-style: none;
  justify-content: space-between;

}

.main-nav{
  display:flex;
}
.main-nav li{
  list-style: none;

}